@page "/dam/assets"
@attribute [StreamRendering]
@rendermode InteractiveServer

<style>
    body {
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    .search-container {
        margin-bottom: 20px;
    }

    {
        width: 80%
    ;
        max-width: 400px
    ;
        padding: 10px
    ;
        font-size: 16px
    ;
        border: 1px solid #ccc
    ;
        border-radius: 5px
    ;
    }

    .gallery {
        margin: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery img {
        width: 20vw;
        height: 20vw; /* Forces square scaling */
        border-radius: 5px;
        object-fit: cover;
        border: 2px solid #000000;
        padding: 1vw;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }
    
    .gallery img:hover{
        transform: scale(1.05);
    }

    .tag-menu {
        padding: 1rem;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        border-radius: 5px;
        margin-top: 10px;
        max-width: 300px;
    }
    
</style>

<PageTitle>Assets Overview</PageTitle>

<div style="visibility: @(_isLoaded ? "visible" : "hidden")">

    <div style="text-align: left">
        <button @onclick="NavigateToHome">Home</button>
    </div>
    <div>
        <h1>Assets Gallery</h1>
        <InputText @bind-Value="searchText" placeholder="Search for assets"/>
        <InputNumber @bind-Value="size">number of products to show</InputNumber>
        <p>@pageNumber</p>
        <button @onclick="() => NavigateToPage(pageNumber - 1)">Previous page</button>
        <button @onclick="() => NavigateToPage(pageNumber + 1)">Next Page</button>
        <button @onclick="SearchButton">Search</button>
        <InputFile OnChange="CreateService.UploadImage" accept="image/*" />
    </div>

    

    <div class="gallery" id="imageGrid">
        @foreach (string src in imageSources)
        {
            <div class="image-container" @onclick="@(e => OnImageClickNavigateTo(src))">
                <img loading="lazy" src="@src" alt="Placeholder Image"/>
                <p></p>
            </div>
        }
    </div>
</div>

<button @onclick="ToggleTagMenu">Select Tags</button> 

@if (showTagMenu)
{
<div class="tag-menu">
    <h4>Filter with Tags</h4>
    @foreach (var tag in allTags)
    {
    <label style="display: block;">
        <input type="checkbox"
               checked="@selectedTags.Contains(tag.Name)"
               @onchange="(e) => OnTagFilterChanged(tag.Name, (bool?)e.Value == true)" />
        @tag.Name
    </label>
    }


    <button @onclick="ApplyFilter">Apply Filter</button>
</div>
}


