@page "/dam/assets"
@attribute [StreamRendering]
@rendermode InteractiveServer

<style>
    body {
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    .search-container {
        margin-bottom: 20px;
    }

    .search-container input {
        width: 80%;
        max-width: 400px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .gallery {
        margin: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery img {
        width: 20vw;
        height: 20vw; /* Forces square scaling */
        border-radius: 5px;
        object-fit: cover;
        border: 2px solid #000000;
        padding: 1vw;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .gallery img:hover{
        transform: scale(1.05);
    }

    .tag-menu {
        padding: 1rem;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        border-radius: 5px;
        margin-top: 10px;
        max-width: 300px;
    }
</style>

<PageTitle>Assets Overview</PageTitle>

<div style="text-align: left">
    <button @onclick="NavigateToHome">Home</button>
</div>
<div>
    
    <h1>Assets Gallery</h1>
    
    <input value="@_searchText" @oninput="OnSearchInputChanged" placeholder="Search for assets by uuid"/>
    <button @onclick="ToggleTagMenu">Select Tags</button>
    <InputFile OnChange="UploadAsset" accept="image/*"/>
</div>

@if (_showTagMenu)
{
    <div class="tag-menu">
        <h4>Filter with Tags</h4>
        @foreach (var tag in _allTags)
        {
            <label style="display: block;">
                <input type="checkbox"
                       checked="@_selectedTagIds.Contains(tag.UUID)"
                       @onchange="(e) => OnTagFilterChanged(tag.UUID, (bool?) e.Value == true)"/>
                @tag.Name
            </label>
        }
    </div>
}

<div class="gallery" id="imageGrid">
    @foreach (Guid assetId in _assetIds)
    {
        <div>
            <div class="image-container" @onclick="@(_ => Navigation.NavigateTo($"/dam/assets/edit?assetId={assetId}"))">
                <img loading="lazy" src="@ReadService.GetAssetContentById(assetId)" alt="Placeholder Asset"/>
            </div>
            <p>@assetId</p>
            <button @onclick="@(_ => DeleteAsset(assetId))">🗑️</button>
        </div>
    }
</div>