@page "/dam/products"
@using global::DAM.Presentation.EnhancedModels
@using global::DAM.Presentation.Models
@attribute [StreamRendering]
@rendermode  InteractiveServer

<style>
    body {
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    .search-container {
        margin-bottom: 20px;
    }

    {
        width: 80%;
        max-width: 400px;
        padding: 10px;
        font-size: 24px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .gallery {
        margin: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery img {
        width: 20vw;
        height: 20vw;  /* Forces square scaling */
        border-radius: 5px;
        object-fit: cover;
        border: 2px solid #000000;
        padding: 1vw;
    }
</style>

<PageTitle>Products Overview</PageTitle>

<button @onclick="SyncWithPim">Synchronize with PIM</button>

<div style="text-align: left">
    <button @onclick="@(_ => NavigationManager.NavigateTo("/dam"))">Home</button>
</div>

<h1>Product Gallery</h1>

<!-- Search bar -->
<input value="@_searchText" @oninput="OnSearchInputChanged" placeholder="Search for products by name or uuid"/>

<div class="gallery" id="imageGrid">
    @foreach(EnhancedProduct product in _products)
    {
        <div class="image-container" @onclick="@(_ => NavigationManager.NavigateTo($"/dam/products/edit?productId={product.UUID}"))">
            <img src="@(ReadService.GetAssetContentById(product.MainAssetUUID))" alt="Placeholder Image">

            <p>@($"{product.Name}")</p>
            <p>@($"{product.UUID}")</p>
        </div>
    }
</div>

    