@page "/dam/products"
@using global::DAM.Presentation.EnhancedModels
@using global::DAM.Presentation.Models
@attribute [StreamRendering]
@rendermode  InteractiveServer

<style>
    body {
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    .search-container {
        margin-bottom: 20px;
    }

    {
        width: 80%;
        max-width: 400px;
        padding: 10px;
        font-size: 24px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .gallery {
        margin: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery img {
        width: 20vw;
        height: 20vw;  /* Forces square scaling */
        border-radius: 5px;
        object-fit: cover;
        border: 2px solid #000000;
        padding: 1vw;
    }
</style>

<PageTitle>DAM Overview</PageTitle>

<div style="visibility: @(_isLoaded ? "visible" : "hidden")">
    <div style="text-align: left">
        <button @onclick="NavigateToHome">Back</button>
    </div>

    <h1>Product Gallery</h1>
    
    <InputText @bind-Value="_newProductName" placeholder="Product name"/>
    <InputText @bind-Value="_newProductUuid" placeholder="Product uuid"/>
    <button @onclick="AddNewProduct">Add Product</button>

    
    <!-- Search bar -->
    <InputText class="form-control" @bind-Value="@searchProduct" @oninput="HandleSearch" placeholder="Search by product name, id or image tag..."/>
    <div class="gallery" id="imageGrid">
        @foreach(EnhancedProduct product in FilteredProducts())
        {
            <div class="image-container" @onclick="@(e => OnImageClickNavigateTo(@product.UUID.ToString()))">
                <img src="@(ReadService.GetAssetContentById(product.MainAssetUUID))" alt="Placeholder Image">

                <p>@($"{product.Name}")</p>
                <p>@($"{product.UUID}")</p>
            </div>
        }
    </div>
</div>

    